snippet brief "Comment BRIEF"
/**
 * @brief ${1:Brief}
 */
endsnippet

snippet pi "param [in]"
@param[in] ${1:In}
endsnippet

snippet po "param [out]"
@param[out] ${1:Out}
endsnippet


snippet re "return"
@return ${1:Return}
endsnippet
